{
    "presets": [
        ["env", {
            "targets": {
                "uglify":false, 
                "node": "current"
            },
            "useBuiltIns": true
        }]
    ]
}