{
    "presets": [
        ["env", {
            "targets": {
                "uglify": false,
                "node": "current"
            },
            "useBuiltIns": true,
            "test": {
                "presets": [
                    ["es2015"]
                ]
            }
        }]
    ]
}