$aplayer-height: 66px;

.aplayer-narrow {
    background-image: url("default.jpg");
    background-color: red;
    width: $aplayer-height;
    .aplayer-info {
        display: none;
    }
}
